*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************* navbar-section *************/
.flex{
    display: flex;
    justify-content: start;
    align-items: center;
}
.navbar-first {
    gap: 800px;
}
.navbar-section{
    margin-top: 20px;
    margin-left: 50px;
}
.navbar-center {
    gap: 30px;
}
.navbar{
    gap: 50px;
}
.logo{
    width: 150px;
    height: 60px;
}
.photo-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-home:hover,.navbar-Explore:hover,.navbar-Help:hover{
    color: rgb(27, 233, 8);
}



/************* image-section *******************/
.Image-section{
    margin-left: 50px;
    border-radius: 20px;
}
.Image-section{
    margin-top: 50px;
}
.above-image-text{
    color:white ;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}
.trending{
    color:red ;
}
.famous{
    font-size: 35px;
    width: 300px;
}
.name{
    font-size: 20px;
}